@import './node_modules/normalize.css/normalize.css'
@import '~css-utils/index'
@import "./resources/style/index.styl"

body
    padding 5px
    box-sizing border-box
.property-grid
    border 1px solid gray